#openxp_app_contenthive ul, #openxp_app_contenthive li{
    list-style-type: circle;
}

#openxp_app_contenthive img#contenthiveLogo{
    width: 50px;
    height: auto;
    float:left;
    padding:5px;
}

#openxp_app_contenthive img#pixabayLogo, #openxp_app_contenthive img#appConfigImage{
    width: 200px;
    height: auto;
    float:left;
    padding:5px;
}

#openxp_app_contenthive strong{
    font-weight: bold;
}

#openxp_app_contenthive .api-info{
    font-size: smaller;
}

#openxp_app_contenthive .api-info h5{
    font-size: 14px;
}

#openxp_app_contenthive h5{
    padding:13px;
}
#openxp_app_contenthive .frm-body{
    padding-top:0;
}

 .goldenforms-pro,
 .goldenforms-pro *{
    font-weight:normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

 .goldenforms-pro {
    font-family:  'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.231;
    font-weight: 400;
    font-size: 13px;
    color: #666;
}

/* @backgrounds :: modify or add yours below
------------------------------------------------------------------- */
.frm-bg1{ background:#6C82A2 url(../images/dark.png) repeat fixed; }
.frm-bg2{ background:#E6CCA6 url(../images/wood.png) repeat fixed; }

/* @taglines
------------------------------------------------------------------- */
 .goldenforms-pro .tagline{ height:0; border-top:1px solid #ddd; text-align:center;  }
 .goldenforms-pro .tagline span{
    text-transform:uppercase;
    display:inline-block;
    position:relative;
    font-size:12px;
    padding:0 15px;
    background:#fff;
    color:#00ACEE;
    top:-10px;
}

/* @wrappers
-------------------------------------- */
.goldenforms-wrapper{ padding:20px;  }
 .goldenforms-pro .frm-section{ margin-bottom:20px; }
 .goldenforms-pro .field{ display:block; position:relative; }
 .goldenforms-pro .field-icon i { color:#A2A6A8; position:relative; top:0; }
 .goldenforms-pro .field-label { display: block; margin-bottom: 7px; }
 .goldenforms-pro .field-label.colm{ padding-top:12px; }
 .goldenforms-pro .field-label em{
    color:#e74c3c;
    font-size:14px;
    font-style:normal;
    display:inline-block;
    margin-left:4px;
    position:relative;
    top:3px;
}

.goldenforms-container{
    background:#fff;
    margin:40px auto;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

/* @containers :: modify width
-------------------------------------- */
.gpro-container1{ max-width:100%;  }
.gpro-container2{ max-width:952px; }
.gpro-container3{ max-width:852px; }
.gpro-container4{ max-width:600px; }
.gpro-container5{ max-width:452px; }

/* @form headers + footers
-------------------------------------- */
 .goldenforms-pro .frm-header {
    overflow:hidden;
    position:relative;
    padding:20px 30px;
    border-bottom:1px solid #ccc;
}

 .goldenforms-pro .frm-footer,
 .goldenforms-pro .frm-header{
    background-color:#F7F7F7;
    background: #F5F5F5;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#FBFBFB),  to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: -moz-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: -o-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: linear-gradient(to bottom,  #FBFBFB, #E6E6E6);
}
 .goldenforms-pro .frm-header h4 {
    font-size:26px;
    font-weight:300;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-family:  'Roboto', Arial, Helvetica, sans-serif;
    margin:0;
}
 .goldenforms-pro .frm-body{
    padding:30px 30px;
    padding-bottom:20px;
    position:relative;
}
 .goldenforms-pro .frm-footer {
    display: block;
    padding:20px 25px;
    border-top:1px solid #ddd;
}

 .goldenforms-pro .small-text {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

/* @general elements | set fonts
-------------------------------------- */
 .goldenforms-pro input,
 .goldenforms-pro button,
 .goldenforms-pro select,
 .goldenforms-pro select optgroup,
 .goldenforms-pro textarea{
    margin:0;
    outline:0;
    line-height: normal;
    font-family:  'Roboto', Arial, Helvetica, sans-serif;
    font-size:13px;
    vertical-align:baseline;
    *vertical-align:middle;
    font-style:normal;
}

/* general css resets
--------------------------------------------------------------------- */
 .goldenforms-pro input[type=search] { -webkit-appearance: textfield; }
 .goldenforms-pro ::-webkit-search-decoration,
 .goldenforms-pro ::-webkit-search-cancel-button { -webkit-appearance: none; }
 .goldenforms-pro input[type="search"]::-webkit-search-decoration,
 .goldenforms-pro input[type="search"]::-webkit-search-cancel-button,
 .goldenforms-pro input[type="search"]::-webkit-search-results-button,
 .goldenforms-pro input[type="search"]::-webkit-search-results-decoration { display: none; }
 .goldenforms-pro input::-webkit-input-placeholder{ opacity:1; }
 .goldenforms-pro input:focus::-webkit-input-placeholder{ -webkit-transition:opacity .5s; opacity: 0.5; }
 .goldenforms-pro input:-ms-input-placeholder{ opacity:0.7; }
 .goldenforms-pro input:focus:-ms-input-placeholder{ opacity: 0.4; -ms-transition:opacity .3s}
 .goldenforms-pro input:-moz-placeholder,input::-moz-placeholder{ opacity:0.7; }
 .goldenforms-pro input:focus:-moz-placeholder,
 .goldenforms-pro input:focus::-moz-placeholder{ opacity: 0.4; -moz-transition:opacity .3s}
 .goldenforms-pro button::-moz-focus-inner,
 .goldenforms-pro input::-moz-focus-inner { border: 0; padding: 0; }
 .goldenforms-pro ::-webkit-input-placeholder { opacity: 1 !important; }
 .goldenforms-pro input[type="password"],
 .goldenforms-pro input[type="password"]:focus{
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/* @prevent user selection for usability purposes
----------------------------------------------------- */
 .goldenforms-pro .uit-button,
 .goldenforms-pro .uit-switch,
 .goldenforms-pro .radio-option,
.ui-datepicker-buttonpane button,
 .goldenforms-pro .checkbox-option,
 .goldenforms-pro .uit-switch > label{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* all elements
------------------------------------------ */
 .goldenforms-pro .uit-file,
 .goldenforms-pro .uit-input,
 .goldenforms-pro .uit-switch,
 .goldenforms-pro .uit-select,
 .goldenforms-pro .uit-button,
 .goldenforms-pro .uit-option,
 .goldenforms-pro .uit-textarea,
 .goldenforms-pro .uit-select-multiple,
 .goldenforms-pro .uit-select-multiple > select{
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

 .goldenforms-pro .uit-file,
 .goldenforms-pro .uit-input,
 .goldenforms-pro .uit-select,
 .goldenforms-pro .uit-textarea,
 .goldenforms-pro .uit-select-multiple > select{
    width:100%;
    vertical-align: top;
}

/* @styling inputs + textareas
-------------------------------------- */
 .goldenforms-pro .uit-input,
 .goldenforms-pro .uit-textarea{
    height:36px;
    color: #000;
    padding: 0 10px;
    background:#fff;
    border: 1px solid;
    border-color:#bbb;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .uit-input:focus,
 .goldenforms-pro .uit-textarea:focus,
 .goldenforms-pro .uit-textarea:focus ~ .text-hint,
 .goldenforms-pro .uit-select-multiple > select:focus,
 .goldenforms-pro .uit-file .file-field:focus ~ .uit-input{
    border-color: #6BACED;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(82,168,236,.7);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(82,168,236,.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(82,168,236,.7);
}

 .goldenforms-pro .uit-textarea{
    padding:10px;
    overflow: auto;
    line-height:20px;
    min-height:120px;
    max-width:100%;
    resize: none;
}

/* @hint below textareas
---------------------------------------- */
 .goldenforms-pro .text-hint {
    color: #777;
    padding: 10px;
    display: block;
    font-size: 11px;
    margin-top: -8px;
    line-height: 16px;
    position: relative;
    background: #f4f4f4;
    border:1px solid #bbb;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#fbfbfb),  to(#ededed));
    background-image: -webkit-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -moz-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -o-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: linear-gradient(to bottom,  #fbfbfb, #ededed);
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.55);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.55);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.55);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-family:Arial, Helvetica, sans-serif;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

/* @styling | selects | buttons | chexboxes | radios
------------------------------------------------------------------- */
 .goldenforms-pro .uit-select,
 .goldenforms-pro .uit-button,
.ui-datepicker-buttonpane button,
 .goldenforms-pro input:checked + .radio-option,
 .goldenforms-pro input:checked + .checkbox-option,
 .goldenforms-pro .append-picker-icon button,
 .goldenforms-pro .prepend-picker-icon button,
 .goldenforms-pro .smart-widget .uit-button {
    border: 1px solid #BBBBBB;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#ffffff),  to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,  #ffffff, #E6E6E6);
    background-image: -moz-linear-gradient(top,  #ffffff, #E6E6E6);
    background-image: -o-linear-gradient(top,  #ffffff, #E6E6E6);
    background-image: linear-gradient(to bottom,  #ffffff, #E6E6E6);
}

 .goldenforms-pro .uit-select:hover,
 .goldenforms-pro .uit-select:focus,
 .goldenforms-pro .uit-button:hover,
 .goldenforms-pro .uit-button:focus,
.ui-datepicker-buttonpane button:hover,
.ui-datepicker-buttonpane button:focus,
 .goldenforms-pro .uit-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .append-picker-icon button:hover,
 .goldenforms-pro .prepend-picker-icon button:hover,
 .goldenforms-pro .smart-widget .uit-button:hover {
    border: 1px solid #8FAFC9;
    background-color: #E8EFF4;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#ffffff),  to(#dae5ed));
    background-image: -webkit-linear-gradient(#ffffff,  #dae5ed);
    background-image: -moz-linear-gradient(#ffffff,  #dae5ed);
    background-image: -o-linear-gradient(#ffffff,  #dae5ed);
    background-image: linear-gradient(to bottom,  #ffffff, #dae5ed);
}

/* @select element
-------------------------------------- */
 .goldenforms-pro .uit-select:hover,
 .goldenforms-pro .uit-select:focus{ background-color:#fff; }
 .goldenforms-pro .uit-select:before,
 .goldenforms-pro .uit-select:after{
    content: '';
    position: absolute;
    z-index:1;
}

 .goldenforms-pro .uit-select{
    height:36px;
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

 .goldenforms-pro .uit-select > select {
    margin: 0;
    border: 0;
    height:33px;
    width:100%;
    padding:7px 10px;
    color: #666;
    display: block;
    position: relative;
    text-shadow: 0 1px white;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    text-indent: 0.01px;
    text-overflow: '';
}

 .goldenforms-pro .uit-select > select::-ms-expand { display: none; }
 .goldenforms-pro .uit-select > select > option{ padding:3px 5px; }
 .goldenforms-pro .uit-select > select:focus { z-index: 2; width:100%; }
 .goldenforms-pro .uit-select:hover,
 .goldenforms-pro .uit-select:focus{
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    color: #314f64;
    z-index:1;
}

 .goldenforms-pro .uit-select option { text-shadow: none; }
 .goldenforms-pro .uit-select:before,
 .goldenforms-pro .uit-select:after {
    top:35%;
    width:0;
    height:0;
    right:10px;
    border: 4px dashed;
    pointer-events: none;
    border-color: #777 transparent;
    z-index:99;
}

 .goldenforms-pro .uit-select:before {
    border-bottom-style: solid;
    border-top: none;
}

 .goldenforms-pro .uit-select:after {
    margin-top: 6px;
    border-top-style: solid;
    border-bottom: none;
}

/* @multiple select element
---------------------------------------------- */
 .goldenforms-pro .uit-select-multiple{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .uit-select-multiple  { width:100%; height:auto;  }
 .goldenforms-pro .uit-select-multiple > select {
    padding:10px;
    border: 1px solid;
    vertical-align: top;
    border-color: #D4D4D4 #D4D4D4 #CFCFCF;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* @styling checkboxes + radios
-------------------------------------- */
 .goldenforms-pro .uit-option {
    position: relative;
    padding-right:15px;
    display: inline-block;
    vertical-align: middle;
}

 .goldenforms-pro .uit-option > input {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    left: 0;
}

 .goldenforms-pro .radio-option,
 .goldenforms-pro .checkbox-option{
    position:relative;
    margin-right:3px;
    width: 22px;
    height: 22px;
    display: inline-block;
    top:5px;
    background: #FFFFFF;
    border: 1px solid;
    border-color: #BBBBBB;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

 .goldenforms-pro .checkbox-option:before,
 .goldenforms-pro .radio-option:before {
    content: '';
    display: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

 .goldenforms-pro input:checked + .checkbox-option,
 .goldenforms-pro input:checked + .radio-option {
    -webkit-box-shadow: inset 0 1px #FBFBFB, 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px #FBFBFB, 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px #FBFBFB, 0 1px 1px rgba(0, 0, 0, 0.05);
}

 .goldenforms-pro input:checked + .checkbox-option:before,
 .goldenforms-pro input:checked + .radio-option:before { display: block; }
 .goldenforms-pro input:focus + .checkbox-option,
 .goldenforms-pro input:focus + .radio-option {
    border-color: #4496e7;
    -webkit-box-shadow: inset 0 0 2px rgba(81, 181, 251, 0.8), 0 0 3px rgba(81, 181, 251, 0.8);
    -moz-box-shadow: inset 0 0 2px rgba(81, 181, 251, 0.8), 0 0 3px rgba(81, 181, 251, 0.8);
    box-shadow: inset 0 0 2px rgba(81, 181, 251, 0.8), 0 0 3px rgba(81, 181, 251, 0.8);
}

 .goldenforms-pro .checkbox-option:before {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 7px;
    height: 3px;
    border: solid #999;
    border-width: 0 0 3px 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.6);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.6);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

 .goldenforms-pro .radio-option {
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
}

 .goldenforms-pro .radio-option:before {
    width: 8px;
    height: 8px;
    background: #999;
    margin:6px 0 0 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* @file-input
---------------------------------------------------- */
 .goldenforms-pro .uit-file { margin:0; padding-right:108px; }
 .goldenforms-pro .uit-file .uit-button {
    float: right;
    height: 36px;
    padding: 0 16px;
    position: absolute;
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
    line-height:34px;
    box-shadow: none;
    width:110px;
    margin: 0;
    z-index:2;
    right:0;
    top:0;
}

 .goldenforms-pro .uit-file .uit-button:hover { box-shadow: none; }
 .goldenforms-pro .uit-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .uit-file .file-field:focus ~ .uit-button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
}

 .goldenforms-pro .uit-file .file-field {
    position: absolute;
    top:-1px;
    right: 0;
    padding: 0;
    font-size: 30px;
    height:35px;
    cursor: pointer;
    opacity: 0;
    -moz-opacity:0;
    filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    z-index:3;
}

/* @switches + toggles
----------------------------------------- */
 .goldenforms-pro .switch-group,
 .goldenforms-pro .switch-label{
    height:26px;
    display:inline-block;
}

 .goldenforms-pro .switch-label{
    line-height:26px;
    padding-right:10px;
    padding-left:3px;
}

 .goldenforms-pro .uit-switch {
    width: 64px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;
    height:26px;
}

 .goldenforms-pro .uit-switch > label {
    display: block;
    position: relative;
    height: 26px;
    line-height: 24px;
    font-size: 10px;
    font-weight:700;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px white;
    background: white;
    border: 1px solid;
    border-color: #bbb #c8c8c8 #cbcbcb;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 11px #F3F3F3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 11px #F3F3F3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 11px #F3F3F3;
    -webkit-transition: padding-left 0.5s ease-out;
    -moz-transition: padding-left 0.5s ease-out;
    -o-transition: padding-left 0.5s ease-out;
    transition: padding-left 0.5s ease-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

 .goldenforms-pro .uit-switch > label:before {
    content: '';
    display: block;
    background-color: #EEEFF0;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#dfe1e2));
    background-image: -webkit-linear-gradient(left,  #fff, #DFE1E2);
    background-image: -moz-linear-gradient(left,  #fff, #DFE1E2);
    background-image: -o-linear-gradient(left,  #fff, #DFE1E2);
    background-image: linear-gradient(to right,  #fff, #DFE1E2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 1px 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 1px 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 1px 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    position:relative;
    height: 24px;
    width: 30px;
}

 .goldenforms-pro .uit-switch > label:after {
    width: 32px;
    content: attr(data-off);
    position: absolute;
    right: 1px;
    top: 0;
}

 .goldenforms-pro .uit-switch > input {
    position: absolute;
    z-index: 0;
    top: 3px;
    left: 3px;
    width: 58px;
    height: 20px;
    padding: 0;
    opacity: 0;
    -webkit-appearance: none;
}

 .goldenforms-pro .uit-switch > input:checked + label {
    color: white;
    padding-left: 32px;
    background: #33a0e8;
    border-color: #1867a8 #197ccc #1c81d2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 11px #0D7DD9;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 11px #0D7DD9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 11px #0D7DD9;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

 .goldenforms-pro .uit-switch > input:checked + label:before {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), -1px 0 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), -1px 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), -1px 0 1px rgba(0, 0, 0, 0.5);
}

 .goldenforms-pro .uit-switch > input:checked + label:after {
    content: attr(data-on);
    left: 0;
}

 .goldenforms-pro .switch-square > label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

 .goldenforms-pro .switch-square > label:before {
    width: 30px;
    background-color: #EEEFF0;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#dfe1e2));
    background-image: -webkit-linear-gradient(left,  #fff, #DFE1E2);
    background-image: -moz-linear-gradient(left,  #fff, #DFE1E2);
    background-image: -o-linear-gradient(left,  #fff, #DFE1E2);
    background-image: linear-gradient(to right,  #fff, #DFE1E2);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

 .goldenforms-pro .switch-square > label:after { width: 30px; }
 .goldenforms-pro .switch-square > input:checked + label { padding-left: 32px; }
 .goldenforms-pro .switch-green > input:checked + label {
    background: #9dcf4a;
    border-color: #709a3f #7dab47 #84b54b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #84AF3A;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #84AF3A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #84AF3A;
}

 .goldenforms-pro .switch-red > input:checked + label {
    background-color: #cf3025;
    border-color: #be1814 #ac1612 #ac1612;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #B32B20;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #B32B20;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #B32B20;
}

 .goldenforms-pro .switch-black > input:checked + label {
    background-color: #333;
    border-color: #3E3E3E #222 #030303;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #272727;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #272727;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 11px #272727;
}

 .goldenforms-pro .switch-handle {
    display: block;
    margin: 1px;
    padding: 1px;
    width: 24px;
    height: 20px;
    position: relative;
    top:-24px;
    margin-bottom:-24px;
    z-index:1;
}

 .goldenforms-pro .switch-handle:before{
    content: '';
    width: 24px;
    height: 18px;
    margin-top:1px;
    margin-left:1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position:relative;
    z-index:5;
}

 .goldenforms-pro .switch-handle:before {
    float: left;
    background-color: #DFE1E2;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%,#dfe1e2), color-stop(100%,#ffffff));
    background-image: -webkit-linear-gradient(left, #DFE1E2 30%, #fff);
    background-image: -moz-linear-gradient(left, #DFE1E2 30%, #fff);
    background-image: -o-linear-gradient(left, #DFE1E2 30%, #fff);
    background-image: linear-gradient(to right,  #DFE1E2 30%, #fff);
}

 .goldenforms-pro .switch-square .switch-handle:before{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

 .goldenforms-pro .switch-handle:after {
    content:"";
    float: right;
    position: relative;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.8);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 1px 1px rgba(255, 255, 255, 0.8);
    margin: auto;
    height: 6px;
    left:-8px;
    top:-12px;
    z-index:10;
    width:1px;
}

/* @rating and review widget
------------------------------------------------------------------------ */
 .goldenforms-pro .uit-rating-wrapper{ display:block; }
 .goldenforms-pro .uit-rating-wrapper:before,
 .goldenforms-pro .uit-rating-wrapper:after{ display: table; content: ""; line-height: 0; }
 .goldenforms-pro .uit-rating-wrapper:after{ clear: both; }
 .goldenforms-pro .uit-rating {
    border: none;
    position:relative;
    display:inline-block;
    margin-top:-4px;
    float: right;
}

 .goldenforms-pro .uit-rating-wrapper > span	{ display:inline-block; float:left; }
 .goldenforms-pro .uit-rating label{ color: #C8C8C8; float: right; }
 .goldenforms-pro .uit-rating input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity:0;
}

 .goldenforms-pro .uit-rating label:before {
    margin: 5px;
    font-size:15px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

 .goldenforms-pro .uit-rating .sta-half:before { content: "\f089"; position: absolute; }
 .goldenforms-pro .uit-rating:hover label:hover,
 .goldenforms-pro .uit-rating:hover label:hover ~ label,
 .goldenforms-pro .uit-rating input:checked ~ label { color: #FFB801;	}
 .goldenforms-pro .uit-rating:hover label:hover ~ label{ color:#FFED85; }
 .goldenforms-pro .uit-rating label,
 .goldenforms-pro .uit-rating:hover label,
 .goldenforms-pro .uit-rating:hover input ~ label { color: #C8C8C8; }
 .goldenforms-pro .uit-rating label span{
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 0 1px rgba(255, 255, 255, 0);
    -webkit-transition: margin 0.6s, opacity 0.6s;
    -moz-transition: margin 0.6s, opacity 0.6s;
    -ms-transition: margin 0.6s, opacity 0.6s;
    -o-transition: margin 0.6s, opacity 0.6s;
    transition: margin 0.6s, opacity 0.6s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    white-space:nowrap;
    position:absolute;
    padding:5px 10px;
    font-weight:bold;
    background:#000;
    font-size:11px;
    margin-left:0;
    display:block;
    left:-9999px;
    opacity:0;
    z-index:10;
    top:-80px;

}

 .goldenforms-pro .uit-rating label:hover span{ top:-25px; opacity:1; left: auto; }
 .goldenforms-pro .uit-rating label span:before{
    content: '';
    position: absolute;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    left: 8px;
    top: 100%;
}

/* @datepicker - requires jquery ui
----------------------------------------------- */
.ui-datepicker {
    width: 16.5em;
    margin-top:8px;
    display: none;
    background: #fff;
    position:relative;
    border:1px solid #CFCFCF;
    font: 16px/1.55  'Roboto', Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index:9999!important;
    text-align: center;
    color: #444;
}

.ui-datepicker a { color: #404040; text-align:center; }
.ui-datepicker .ui-state-disabled span{ color:#DBDBDB;}
.ui-datepicker .ui-datepicker-header,
.ui-timepicker-div .ui-widget-header {
    position: relative;
    border-bottom:1px solid #CFCFCF;
    line-height: 27px;
    font-size: 15px;
    padding: 8px;
    background: #F5F5F5;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#FBFBFB),  to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: -moz-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: -o-linear-gradient(top,  #FBFBFB, #E6E6E6);
    background-image: linear-gradient(to bottom,  #FBFBFB, #E6E6E6);
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.08);
    text-shadow: 0 1px rgba(255, 255, 255, 0.85);
    -webkit-border-radius:3px  3px 0 0;
    -moz-border-radius:3px  3px 0 0;
    border-radius:3px  3px 0 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color:#888;
    top:7px;
    background-color:#F6F6F6;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#ffffff),  to(#F0EDF6));
    background-image: -webkit-linear-gradient(top, #ffffff, #F0EDF6);
    background-image: -moz-linear-gradient(top, #ffffff, #F0EDF6);
    background-image: -o-linear-gradient(top, #ffffff, #F0EDF6);
    background-image: linear-gradient(to bottom, #ffffff, #F0EDF6);
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0);
    background-clip: padding-box;
    text-shadow: 0 1px rgba(255, 255, 255, 0.85);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #ccc;
    text-align:center;
}


.ui-datepicker .ui-datepicker-prev { left: 7px;  }
.ui-datepicker .ui-datepicker-next { right: 7px; }
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color:#666;
}

.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month-year { width: 100%; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%; }
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
}

.ui-datepicker th {
    padding: 4px;
    text-align: center;
    font-weight: 400;
    border: 0;
    background:#f9f9f9;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#eeeeee),  to(#ffffff));
    background-image: -webkit-linear-gradient(top,  #eeeeee, #ffffff);
    background-image: -moz-linear-gradient(top,  #eeeeee, #ffffff);
    background-image: -o-linear-gradient(top,  #eeeeee, #ffffff);
    background-image: linear-gradient(to bottom,  #eeeeee, #ffffff);
    border-bottom:1px solid #ddd;
}

.ui-datepicker td { border: 0; padding:4px; }
.ui-datepicker td span,
.ui-datepicker td a {
    padding:3px;
    display: block;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ui-datepicker td span:hover,
.ui-datepicker td a:hover {  background:#F5F5F5; }
.ui-datepicker .ui-state-disabled span:hover{ background:none; }

/* @highlight today's date and selected dates
---------------------------------------------------- */
.ui-datepicker-today a,
.ui-datepicker-today a:hover,
.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-active:hover,
.ui-datepicker .ui-state-highlight:hover {
    color:#fff;
    font-weight:400;
    border:1px solid;
    background-color: #208ed3;
    border-color: #1f58cc #1b4db3 #1b4db3;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4baadc), color-stop(100%,#074dda));
    background-image: -webkit-linear-gradient(top, #4baadc, #074dda);
    background-image: -moz-linear-gradient(top, #4baadc, #074dda);
    background-image: -o-linear-gradient(top, #4baadc, #074dda);
    background-image: -ms-linear-gradient(top, #4baadc, #074dda);
    background-image: linear-gradient(to bottom, #4baadc, #074dda);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
}

/* @multiple calendars || not responsive use carefully
--------------------------------------------------------------- */
.cal-widget .ui-datepicker { width: 100%; margin-top:0; }
.cal-widget .ui-datepicker:before{ display:none; }
.ui-datepicker.ui-datepicker-multi { width: auto; }
.ui-datepicker-multi .ui-datepicker-group { float: left; }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.333%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }
.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0; }

/* @ui-buttons
---------------------------------------------------------------- */
.ui-datepicker-buttonpane{
    padding:10px;
    background-color: #f9f9f9;
    border-top:1px solid #CFCFCF;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#fbfbfb),  to(#ededed));
    background-image: -webkit-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -moz-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -ms-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -o-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: linear-gradient(to bottom,  #fbfbfb, #ededed);
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius:0 0 3px  3px;
    -moz-border-radius:0 0 3px  3px;
    border-radius:0 0 3px  3px;
}

.ui-datepicker-buttonpane button { margin-right: .2em; }
.ui-monthpicker .ui-datepicker-header{ margin-bottom:3px; }

/* @timepicker - requires jquery ui
------------------------------------------------------ */
.ui-timepicker-div { font-size:14px; }
.ui-timepicker-div .ui-widget-header {
    margin-bottom: -2px;
    position: relative;
    line-height: 27px;
    font-size: 14px;
    padding: 10px;
}

.ui-timepicker-div dl { text-align: left; border:1px solid #ddd; border-width:1px 0 0 0;  padding:15px 10px; margin:0; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 20px 40%; }
.ui-timepicker-div dl .ui_tpicker_hour,
.ui-timepicker-div dl .ui_tpicker_minute,
.ui-timepicker-div dl .ui_tpicker_second,
.ui-timepicker-div dl .ui_tpicker_millisec{
    position:relative;
    background-color:#E1E4E9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    top:12px;
}
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }
.cal-widget #dtpicker{ margin-top:10px; display:block; }
.ui-timepicker-div a,
.ui-timepicker-div a:active{ border:0!important; }

/* @ui-slider: requires jquery UI
----------------------------------------------------*/
 .goldenforms-pro .slider-wrapper,
 .goldenforms-pro .sliderv-wrapper{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#E1E4E9;
    position:relative;
    padding:0;
}

 .goldenforms-pro .ui-slider {
    position: relative;
    text-align: left;
}

 .goldenforms-pro .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    cursor: default;
    text-decoration:none;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(100%,#e0e3e4));
    background-image: -webkit-linear-gradient(top, #FFF 30%, #E0E3E4);
    background-image: -moz-linear-gradient(top, #FFF 30%, #E0E3E4);
    background-image: -o-linear-gradient(top, #FFF 30%, #E0E3E4);
    background-image: linear-gradient(to bottom, #FFF 30%, #E0E3E4);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    margin-top:-3px;
    outline:none;
    border:0;
}

 .goldenforms-pro .ui-slider .ui-slider-handle:before{
    content:'';
    width: 8px;
    height: 8px;
    position:absolute;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 1);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
    left:6px;
    top:6px;
}

 .goldenforms-pro .ui-slider .ui-slider-range {
    display: block;
    font-size: .7em;
    position: absolute;
    background-position: 0 0;
    background-color:#00acee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    border: 0;
}

 .goldenforms-pro .ui-slider.ui-state-disabled .ui-slider-handle,
 .goldenforms-pro .ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }
 .goldenforms-pro .ui-slider-horizontal { height: 5px; }
 .goldenforms-pro .ui-slider-horizontal .ui-slider-handle { top: -0.42em; margin-left: -0.6em; }
 .goldenforms-pro .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
 .goldenforms-pro .ui-slider-horizontal .ui-slider-range-min { left: 0; }
 .goldenforms-pro .ui-slider-horizontal .ui-slider-range-max { right: 0; }
 .goldenforms-pro .ui-slider-vertical,
 .goldenforms-pro .sliderv-wrapper { width: 5px; height: 100px; }
 .goldenforms-pro .ui-slider-vertical .ui-slider-handle { left: -.48em; margin-left: 0; margin-bottom: -.6em; }
 .goldenforms-pro .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
 .goldenforms-pro .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
 .goldenforms-pro .ui-slider-vertical .ui-slider-range-max { top: 0; }
 .goldenforms-pro .slider-input{  color:#f6931f!important; border:0; background:none; }
 .goldenforms-pro .slider-group .sliderv-wrapper{ height:150px; float:left; margin:15px 15px;   }
 .goldenforms-pro .ui-slider .ui-state-active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}


/* @ui-slider vertical
------------------------------------------------------- */
 .goldenforms-pro .ui-slider-vertical .ui-slider-handle{
    width: 14px;
    height: 28px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
}

 .goldenforms-pro .ui-slider-vertical .ui-slider-handle {
    left: -.35em;
    margin-left: 0;
    margin-bottom: -1em;
}


 .goldenforms-pro .ui-slider-vertical,
 .goldenforms-pro .sliderv-wrapper { width: 5px; height: 200px; }
 .goldenforms-pro .slider-group .sliderv-wrapper{ height:200px; float:left; margin:15px 15px;   }
 .goldenforms-pro .ui-slider-vertical .ui-slider-handle:before{
    content:'';
    width: 10px;
    height: 24px;
    position:absolute;
    background-color: #E8E9EA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#edeeee), color-stop(40%,#ffffff), color-stop(100%,#ced0d2));
    background-image: -webkit-linear-gradient(top, #EDEEEE 4%, #FFF  40%, #CED0D2);
    background-image: -moz-linear-gradient(top, #EDEEEE 4%, #FFF  40%, #CED0D2);
    background-image: -o-linear-gradient(top, #EDEEEE 4%, #FFF  40%, #CED0D2);
    background-image: linear-gradient(to bottom, #EDEEEE 4%, #FFF  40%, #CED0D2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
    left:2px;
    top:2px;
}

 .goldenforms-pro .ui-slider-vertical .ui-slider-handle:after {
    content: "";
    position: absolute;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 1);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 1px rgba(255, 255, 255, 1);
    width: 6px;
    height: 1px;
    margin: auto;
    top: 1.1em;
    left: 4px;
    z-index:10;
}

/* @ui-slider horizontal
-------------------------------------------------------- */
 .goldenforms-pro .ui-slider-horizontal .ui-slider-handle{
    width: 22px;
    height: 22px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -o-border-radius:30px;
    border-radius:30px;
}

 .goldenforms-pro .ui-slider-horizontal .ui-slider-handle {
    top: -0.5em;
    margin-left: -0.6em;
}

 .goldenforms-pro .ui-slider-horizontal .ui-slider-handle:before{
    content:'';
    width: 14px;
    height: 14px;
    position:absolute;
    background-color: #E8E9EA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ebebeb), color-stop(100%,#ffffff));
    background-image: -webkit-linear-gradient(top, #EBEBEB 4%, #FFFFFF);
    background-image: -moz-linear-gradient(top, #EBEBEB 4%, #FFFFFF);
    background-image: -o-linear-gradient(top, #EBEBEB 4%, #FFFFFF);
    background-image: linear-gradient(to bottom, #EBEBEB 4%, #FFFFFF);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 1px rgba(255, 255, 255, 0);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 1px rgba(255, 255, 255, 0);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 1px rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 1px rgba(255, 255, 255, 0);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    z-index: 2;
    left:4px;
    top:4px;
}


/* @ui-slider tooltips
------------------------------------------------------ */
 .goldenforms-pro .slider-tip {
    display: block;
    position: absolute;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    background: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding:10px;
    color: #fff;
}

 .goldenforms-pro .slider-wrapper .slider-tip{ top: -50px; left:-15px; }
 .goldenforms-pro .slider-wrapper .slider-tip:after {
    content: '';
    position: absolute;
    top: 98%;
    left: 35%;
    border-top: 8px solid #333333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

 .goldenforms-pro .sliderv-wrapper .slider-tip{ left: 30px; top:-12px; }
 .goldenforms-pro .sliderv-wrapper .slider-tip:after{
    content: '';
    position: absolute;
    top:30%;
    right: 98%;
    border-right: 8px solid #333333;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/* @ui-slider themes | just change the background colors
-------------------------------------------------------------------------------- */
 .goldenforms-pro .red-slider .ui-slider .ui-slider-range { background-color:#ee4f3d;  }
 .goldenforms-pro .black-slider .ui-slider .ui-slider-range 	{ background-color: #333333;  }
 .goldenforms-pro .green-slider .ui-slider .ui-slider-range 	{ background-color: #7fbf4d;  }

/* @smart widget
   @this widget helps us to position an element eg button or label or span
   @the positions can either be left or right while the input stays 100%
   @you ca use this to rapidly create search widgets, newsletter subscribe etc
---------------------------------------------------------------------------------*/
 .goldenforms-pro .smart-widget,
 .goldenforms-pro .append-picker-icon,
 .goldenforms-pro .prepend-picker-icon { position: relative; display:block; }
 .goldenforms-pro .smart-widget .field input,
 .goldenforms-pro .append-picker-icon input,
 .goldenforms-pro .prepend-picker-icon input { width: 100%; }

/* @button pane gradients
--------------------------------------------- */
 .goldenforms-pro .append-picker-icon button,
 .goldenforms-pro .prepend-picker-icon button,
 .goldenforms-pro .smart-widget .uit-button {
    position: absolute;
    border:1px solid #bbb;
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    line-height:34px;
    cursor: pointer;
    color: #626262;
    height: 36px;
    top: 0;
}

/* @smart widget buttons - position left
------------------------------------------------- */
 .goldenforms-pro .sml-50,
 .goldenforms-pro .prepend-picker-icon { padding-left: 50px; }
 .goldenforms-pro .sml-50 .uit-button,
 .goldenforms-pro .prepend-picker-icon button{ width: 51px; }
 .goldenforms-pro .sml-80{ padding-left: 80px; }
 .goldenforms-pro .sml-80 .uit-button { width: 81px; }
 .goldenforms-pro .sml-120{ padding-left: 120px; }
 .goldenforms-pro .sml-120 .uit-button { width: 121px; }

/* @smart widget buttons - position right
------------------------------------------------- */
 .goldenforms-pro .smr-50,
 .goldenforms-pro .append-picker-icon{ padding-right: 50px; }
 .goldenforms-pro .smr-50 .uit-button,
 .goldenforms-pro .append-picker-icon button{ width: 51px; }
 .goldenforms-pro .smr-80{ padding-right: 80px; }
 .goldenforms-pro .smr-80 .uit-button { width: 81px; }
 .goldenforms-pro .smr-120{ padding-right: 120px; }
 .goldenforms-pro .smr-120 .uit-button { width: 121px; }


/* @icon append (right) :: prepend (left)
------------------------------------------------- */
 .goldenforms-pro .append-icon,
 .goldenforms-pro .prepend-icon{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width:100%;
}

 .goldenforms-pro .append-icon .field-icon,
 .goldenforms-pro .prepend-icon .field-icon{
    top:0;
    z-index:4;
    width:36px;
    height:36px;
    color: inherit;
    line-height:38px;
    position:absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
}

 .goldenforms-pro .append-icon .field-icon i,
 .goldenforms-pro .prepend-icon .field-icon i{
    position:relative;
    font-size:14px;
}

 .goldenforms-pro .prepend-icon .field-icon{ left:0;  }
 .goldenforms-pro .append-icon .field-icon{ right:0; }
 .goldenforms-pro .prepend-icon > input,
 .goldenforms-pro .prepend-icon > select,
 .goldenforms-pro .prepend-icon > textarea{ padding-left:32px; }
 .goldenforms-pro .append-icon > input,
 .goldenforms-pro .append-icon > textarea{ padding-right:32px; padding-left:10px;  }
 .goldenforms-pro .append-icon > textarea{ padding-right:32px; }
 .goldenforms-pro .uit-select .field-icon{ line-height:33px; }
 .goldenforms-pro .prepend-icon > select{ padding-left:30px; }


/* @buttons :: styling
------------------------------------------- */
 .goldenforms-pro .uit-button,
.ui-datepicker-buttonpane button{
    outline: 0;
    width: auto;
    height: 36px;
    color: #4b5151;
    line-height: 1;
    padding: 0 15px;
    cursor: pointer;
    font-size:13px;
    overflow: visible;
    text-align: center;
    vertical-align: top;
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.06);
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .uit-select,
 .goldenforms-pro .uit-button,
.ui-datepicker-buttonpane button{ border: 1px solid #BBBBBB; background-color: #fafafa; }
 .goldenforms-pro .uit-button i{ font-size:14px; }
 .goldenforms-pro a.uit-button { line-height: 36px; text-decoration: none;  }
 .goldenforms-pro .uit-button:hover,
 .goldenforms-pro .uit-button:focus,
.ui-datepicker-buttonpane button:hover,
.ui-datepicker-buttonpane button:focus{
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
    color: #314f64;
}

 .goldenforms-pro .uit-button:active,
 .goldenforms-pro .uit-button.active,
 .goldenforms-pro .smart-widget .uit-button:active,
 .goldenforms-pro .append-picker-icon button:active,
 .goldenforms-pro .prepend-picker-icon button:active,
 .goldenforms-pro .uit-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .append-picker-icon .uit-input:focus + button,
 .goldenforms-pro .prepend-picker-icon .uit-input:focus + button,
 .goldenforms-pro .uit-file .file-field:focus ~ .uit-button:active{
    background-color: #e8e8e8;
    border-color: #bfbfbf #bfbfbf #d6d6d6;
    background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#e8e8e8),  to(#ffffff));
    background-image: -webkit-linear-gradient(top,  #e8e8e8, #ffffff);
    background-image: -moz-linear-gradient(top,  #e8e8e8, #ffffff);
    background-image: -o-linear-gradient(top,  #e8e8e8, #ffffff);
    background-image: linear-gradient(to bottom,  #e8e8e8, #ffffff);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
}

/* @button themes | default | red | green | black | blue
---------------------------------------------------------- */
 .goldenforms-pro .btn-red,
 .goldenforms-pro .btn-blue,
 .goldenforms-pro .btn-black,
 .goldenforms-pro .btn-green,
 .goldenforms-pro .btn-red:hover,
 .goldenforms-pro .btn-blue:hover,
 .goldenforms-pro .btn-green:hover,
 .goldenforms-pro .btn-black:hover,
 .goldenforms-pro .picker-red button,
 .goldenforms-pro .widget-red .uit-button,
 .goldenforms-pro .picker-red button:hover,
 .goldenforms-pro .widget-red .uit-button:hover,
 .goldenforms-pro .picker-blue button,
 .goldenforms-pro .widget-blue .uit-button,
 .goldenforms-pro .picker-blue button:hover,
 .goldenforms-pro .widget-blue .uit-button:hover,
 .goldenforms-pro .picker-green button,
 .goldenforms-pro .widget-green .uit-button,
 .goldenforms-pro .picker-green button:hover,
 .goldenforms-pro .widget-green .uit-button:hover,
 .goldenforms-pro .picker-black button,
 .goldenforms-pro .widget-black .uit-button,
 .goldenforms-pro .picker-black button:hover,
 .goldenforms-pro .widget-black .uit-button:hover,
 .goldenforms-pro .red-file .uit-button,
 .goldenforms-pro .blue-file .uit-button,
 .goldenforms-pro .black-file .uit-button,
 .goldenforms-pro .green-file .uit-button,
 .goldenforms-pro .red-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .blue-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .black-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .green-file .file-field:hover ~ .uit-button{
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1);
}

 .goldenforms-pro .btn-red:focus,
 .goldenforms-pro .btn-red.focus,
 .goldenforms-pro .btn-blue:focus,
 .goldenforms-pro .btn-blue.focus,
 .goldenforms-pro .btn-black:focus,
 .goldenforms-pro .btn-black.focus,
 .goldenforms-pro .btn-green:focus,
 .goldenforms-pro .btn-green.focus,
 .goldenforms-pro .btn-blue:active,
 .goldenforms-pro .btn-blue.active,
 .goldenforms-pro .btn-green:active,
 .goldenforms-pro .btn-green.active,
 .goldenforms-pro .btn-red.active,
 .goldenforms-pro .btn-red:active,
 .goldenforms-pro .btn-black.active,
 .goldenforms-pro .btn-black:active,
 .goldenforms-pro .picker-red button:focus,
 .goldenforms-pro .picker-blue button:focus,
 .goldenforms-pro .picker-black button:focus,
 .goldenforms-pro .picker-green button:focus,
 .goldenforms-pro .widget-red .uit-button:active,
 .goldenforms-pro .widget-blue .uit-button:active,
 .goldenforms-pro .widget-black .uit-button:active,
 .goldenforms-pro .widget-green .uit-button:active,
 .goldenforms-pro .picker-red .uit-input:focus + button,
 .goldenforms-pro .picker-blue .uit-input:focus + button,
 .goldenforms-pro .picker-green .uit-input:focus + button,
 .goldenforms-pro .picker-black .uit-input:focus + button,
 .goldenforms-pro .red-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .blue-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .black-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .green-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .red-file .file-field:focus ~ .uit-button:active,
 .goldenforms-pro .blue-file .file-field:focus ~ .uit-button:active,
 .goldenforms-pro .black-file .file-field:focus ~ .uit-button:active,
 .goldenforms-pro .green-file .file-field:focus ~ .uit-button:active{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    color: #fff;
}

 .goldenforms-pro .btn-blue,
 .goldenforms-pro .picker-blue button,
 .goldenforms-pro .blue-file .uit-button,
 .goldenforms-pro .widget-blue .uit-button{
    background-color: #208ed3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4baadc), color-stop(100%,#074dda));
    background-image: -webkit-linear-gradient(top, #4baadc, #074dda);
    background-image: -moz-linear-gradient(top, #4baadc, #074dda);
    background-image: -o-linear-gradient(top, #4baadc, #074dda);
    background-image: -ms-linear-gradient(top, #4baadc, #074dda);
    background-image: linear-gradient(to bottom, #4baadc, #074dda);
    border-color: #1f58cc #1b4db3 #1b4db3;
}

 .goldenforms-pro .btn-blue:hover,
 .goldenforms-pro .btn-blue.hover,
 .goldenforms-pro .btn-blue:focus,
 .goldenforms-pro .btn-blue.focus,
 .goldenforms-pro .picker-blue button:hover,
 .goldenforms-pro .picker-blue button:focus,
 .goldenforms-pro .widget-blue .uit-button:hover,
 .goldenforms-pro .widget-blue .uit-button:focus,
 .goldenforms-pro .blue-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .blue-file .file-field:focus ~ .uit-button{
    background-color: #1e55c8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2160de), color-stop(100%,#1e55c8));
    background-image: -webkit-linear-gradient(top, #2160de, #1e55c8);
    background-image: -moz-linear-gradient(top, #2160de, #1e55c8);
    background-image: -o-linear-gradient(top, #2160de, #1e55c8);
    background-image: -ms-linear-gradient(top, #2160de, #1e55c8);
    background-image: linear-gradient(to bottom, #2160de, #1e55c8);
    border-color: #174299 #174299 #174299;

}

 .goldenforms-pro .btn-blue:active,
 .goldenforms-pro .btn-blue.active,
 .goldenforms-pro .picker-blue button:active,
 .goldenforms-pro .widget-blue .uit-button:active,
 .goldenforms-pro .picker-blue .uit-input:focus + button,
 .goldenforms-pro .blue-file .file-field:focus ~ .uit-button {
    background-color: #0D4DC1;
    border-color: #0F3779 #0D4DC1 #0F58E1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0D4DC1), color-stop(100%,#48a4ff));
    background-image: -webkit-linear-gradient(top,  #0D4DC1, #48a4ff);
    background-image: -moz-linear-gradient(top,  #0D4DC1, #48a4ff);
    background-image: -o-linear-gradient(top,  #0D4DC1, #48a4ff);
    background-image: linear-gradient(to bottom,  #0D4DC1, #48a4ff);
}

 .goldenforms-pro .btn-green,
 .goldenforms-pro .picker-green button,
 .goldenforms-pro .green-file .uit-button,
 .goldenforms-pro .widget-green .uit-button{
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d254), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #a1d254, #63a62f);
    background-image: -moz-linear-gradient(top, #a1d254, #63a62f);
    background-image: -ms-linear-gradient(top, #a1d254, #63a62f);
    background-image: -o-linear-gradient(top, #a1d254, #63a62f);
    background-image: linear-gradient(to bottom, #a1d254, #63a62f);
    text-shadow: 0 -1px 0 #4c9021;
    border: 1px solid #457621;
    border-top: 1px solid #5b992b;

}

 .goldenforms-pro .btn-green:hover,
 .goldenforms-pro .btn-green.hover,
 .goldenforms-pro .btn-green:focus,
 .goldenforms-pro .btn-green.focus,
 .goldenforms-pro .picker-green button:hover,
 .goldenforms-pro .picker-green button:focus,
 .goldenforms-pro .widget-green .uit-button:hover,
 .goldenforms-pro .widget-green .uit-button:focus,
 .goldenforms-pro .green-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .green-file .file-field:focus ~ .uit-button{
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(to bottom, #76b347, #5e9e2e);
    border: 1px solid #457621;
    border-top: 1px solid #5b992b;
}

 .goldenforms-pro .btn-green:active,
 .goldenforms-pro .btn-green.active,
 .goldenforms-pro .picker-green button:active,
 .goldenforms-pro .widget-green .uit-button:active,
 .goldenforms-pro .picker-green .uit-input:focus + button,
 .goldenforms-pro .green-file .file-field:focus ~ .uit-button {
    background-color: #548E28;
    border-color: #678f3a #75a143 #81b049;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b533), color-stop(100%, #a7d757));
    background-image: -webkit-linear-gradient(top,  #71b533, #a7d757);
    background-image: -moz-linear-gradient(top,  #71b533, #a7d757);
    background-image: -o-linear-gradient(top,  #71b533, #a7d757);
    background-image: linear-gradient(to bottom,  #71b533, #a7d757);
}

 .goldenforms-pro .btn-red,
 .goldenforms-pro .picker-red button,
 .goldenforms-pro .red-file .uit-button,
 .goldenforms-pro .widget-red .uit-button {
    background-color: #cf3025;
    border-color: #be1814 #ac1612 #ac1612;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc4138), color-stop(100%, #cf3025));
    background-image: -webkit-linear-gradient(top,  #fc4138, #cf3025);
    background-image: -moz-linear-gradient(top,  #fc4138, #cf3025);
    background-image: -o-linear-gradient(top,  #fc4138, #cf3025);
    background-image: linear-gradient(to bottom, #fc4138, #cf3025);
}

 .goldenforms-pro .btn-red:hover,
 .goldenforms-pro .btn-red.hover,
 .goldenforms-pro .btn-red:focus,
 .goldenforms-pro .btn-red.focus,
 .goldenforms-pro .picker-red button:hover,
 .goldenforms-pro .picker-red button:focus,
 .goldenforms-pro .widget-red .uit-button:hover,
 .goldenforms-pro .widget-red .uit-button:focus,
 .goldenforms-pro .red-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .red-file .file-field:focus ~ .uit-button{
    background-color: #BC2D21;
    border-color: #be1814 #ac1612 #ac1612;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F81003), color-stop(100%, #BC2D21));
    background-image: -webkit-linear-gradient(top,  #F81003, #BC2D21);
    background-image: -moz-linear-gradient(top,  #F81003, #BC2D21);
    background-image: -o-linear-gradient(top,  #F81003, #BC2D21);
    background-image: linear-gradient(to bottom, #F81003, #BC2D21);
}

 .goldenforms-pro .btn-red:active,
 .goldenforms-pro .btn-red.active,
 .goldenforms-pro .picker-red button:active,
 .goldenforms-pro .widget-red .uit-button:active,
 .goldenforms-pro .picker-red .uit-input:focus + button,
 .goldenforms-pro .red-file .file-field:focus ~ .uit-button {
    background-color: #A60000;
    border-color: #A60000 #C10000 #E14A42;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DD0000), color-stop(100%, #FF9966));
    background-image: -webkit-linear-gradient(top,  #DD0000, #FF9966);
    background-image: -moz-linear-gradient(top,  #DD0000, #FF9966);
    background-image: -o-linear-gradient(top,  #DD0000, #FF9966);
    background-image: linear-gradient(to bottom, #DD0000, #FF9966);

}

 .goldenforms-pro .btn-black,
 .goldenforms-pro .picker-black button,
 .goldenforms-pro .black-file .uit-button,
 .goldenforms-pro .widget-black .uit-button{
    background-color: #333;
    border-color: #3E3E3E #222 #030303;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4F4F4F), color-stop(100%, #181818));
    background-image: -webkit-linear-gradient(top,  #4F4F4F, #181818);
    background-image: -moz-linear-gradient(top,  #4F4F4F, #181818);
    background-image: -o-linear-gradient(top,  #4F4F4F, #181818);
    background-image: linear-gradient(to bottom,  #4F4F4F, #181818);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.03), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
}

 .goldenforms-pro .btn-black:hover,
 .goldenforms-pro .btn-black.hover,
 .goldenforms-pro .btn-black:focus,
 .goldenforms-pro .btn-black.focus,
 .goldenforms-pro .picker-black button:hover,
 .goldenforms-pro .picker-black button:focus,
 .goldenforms-pro .widget-black .uit-button:hover,
 .goldenforms-pro .widget-black .uit-button:focus,
 .goldenforms-pro .black-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .black-file .file-field:focus ~ .uit-button{
    background-color: #111111;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #111111));
    background-image: -webkit-linear-gradient(top,  #333333, #111111);
    background-image: -moz-linear-gradient(top,  #333333, #111111);
    background-image: -o-linear-gradient(top,  #333333, #111111);
    background-image: linear-gradient(to bottom,  #333333, #111111);
    border: 1px solid #2C2B2B;
}

 .goldenforms-pro .btn-black:active,
 .goldenforms-pro .btn-black.active,
 .goldenforms-pro .picker-black button:active,
 .goldenforms-pro .widget-black .uit-button:active,
 .goldenforms-pro .picker-black .uit-input:focus + button,
 .goldenforms-pro .black-file .file-field:focus ~ .uit-button {
    background-color: #070707;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #070707), color-stop(100%, #444444));
    background-image: -webkit-linear-gradient(top,  #070707, #444444);
    background-image: -moz-linear-gradient(top,  #070707, #444444);
    background-image: -o-linear-gradient(top,  #070707, #444444);
    background-image: linear-gradient(to bottom,  #070707, #444444);
    border: 1px solid #2C2B2B;
}


/* @button grouping
------------------------------------------------ */
 .goldenforms-pro .uit-button-group:before,
 .goldenforms-pro .uit-button-group:after { content: ""; display: table; }
 .goldenforms-pro .uit-button-group:after { clear: both; }
 .goldenforms-pro .uit-button-group { zoom: 1; }
 .goldenforms-pro .uit-button-group {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    height: 36px;
    font-size:0;

}

 .goldenforms-pro .uit-button-group > .uit-button {
    float:left;
    height: inherit;
    line-height:36px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

 .goldenforms-pro .uit-button-group > .uit-button:first-child {
    margin-left: 0;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
 .goldenforms-pro .uit-button-group > .uit-button:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
 .goldenforms-pro .uit-button-group > .uit-button:hover,
 .goldenforms-pro .uit-button-group > .uit-button:focus {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

 .goldenforms-pro .uit-button-group > .uit-button:active,
 .goldenforms-pro .uit-button-group > .uit-button.active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
}

/* @pickers buttons | date | month | time
---------------------------------------------------- */
 .goldenforms-pro .append-picker-icon button,
 .goldenforms-pro .append-picker-icon button:hover,
 .goldenforms-pro .prepend-picker-icon .uit-input,
 .goldenforms-pro .sm-left .field input,
 .goldenforms-pro .sm-right .uit-button,
 .goldenforms-pro .sm-right .uit-button:hover{
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}

 .goldenforms-pro .prepend-picker-icon button,
 .goldenforms-pro .prepend-picker-icon button:hover,
 .goldenforms-pro .append-picker-icon .uit-input,
 .goldenforms-pro .sm-right .field input,
 .goldenforms-pro .sm-left .uit-button,
 .goldenforms-pro .sm-left .uit-button:hover{
    -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

 .goldenforms-pro .sm-left .uit-button,
 .goldenforms-pro .prepend-picker-icon button { left:0; }
 .goldenforms-pro .sm-right .uit-button,
 .goldenforms-pro .append-picker-icon button {  right:0; }
 .goldenforms-pro .append-picker-icon button i,
 .goldenforms-pro .prepend-picker-icon button i{ font-size:14px; }

/* @notifications
----------------------------------------------------- */
 .goldenforms-pro .notification {
    width:100%;
    color: #444;
    line-height:36px;
    padding:0 10px;
    border: 1px solid;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .notification p{ margin-bottom:0; font-size:13px; }
 .goldenforms-pro .notification .close-btn{
    color: inherit;
    display: block;
    position: absolute;
    top:40%;
    right:2px;
    opacity: 0.65;
    margin-top: -7px;
    padding: inherit;
    font: bold 20px/20px Arial, sans-serif;
    text-decoration:none;
}

 .goldenforms-pro .notification .close-btn:hover{ opacity: 1; }
 .goldenforms-pro .alert-info {
    color:#163161;
    background-color: #cfe6fc;
    border-color: #a4c8f5 #96C0F3  #96C0F3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E7F2FE), color-stop(100%, #C7E1FC));
    background-image: -webkit-linear-gradient(top,  #E7F2FE, #C7E1FC);
    background-image: -moz-linear-gradient(top,  #E7F2FE, #C7E1FC);
    background-image: -o-linear-gradient(top,  #E7F2FE, #C7E1FC);
    background-image: linear-gradient(to bottom,  #E7F2FE, #C7E1FC);
}

 .goldenforms-pro .alert-success {
    color:#336633;
    background-color: #d2f7ad;
    border-color: #aedb2e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E4FBCE), color-stop(100%, #CEF7A6));
    background-image: -webkit-linear-gradient(top,  #E4FBCE, #CEF7A6);
    background-image: -moz-linear-gradient(top,  #E4FBCE, #CEF7A6);
    background-image: -o-linear-gradient(top,  #E4FBCE, #CEF7A6);
    background-image: linear-gradient(to bottom,  #E4FBCE, #CEF7A6);
}

 .goldenforms-pro .alert-warning {
    color: #CC6600;
    background-color: #fae7a2;
    border-color: #f5c558;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFC6), color-stop(100%, #FAE49C));
    background-image: -webkit-linear-gradient(top,  #FFFFC6, #FAE49C);
    background-image: -moz-linear-gradient(top,  #FFFFC6, #FAE49C);
    background-image: -o-linear-gradient(top,  #FFFFC6, #FAE49C);
    background-image: linear-gradient(to bottom,  #FFFFC6, #FAE49C);
}

 .goldenforms-pro .alert-error {
    color:#990000;
    background-color: #ffd5af;
    border-color: #f8b472;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE7D3), color-stop(100%, #FFD1A8));
    background-image: -webkit-linear-gradient(top,  #FFE7D3, #FFD1A8);
    background-image: -moz-linear-gradient(top,  #FFE7D3, #FFD1A8);
    background-image: -o-linear-gradient(top,  #FFE7D3, #FFD1A8);
    background-image: linear-gradient(to bottom,  #FFE7D3, #FFD1A8);
}

/* @progress bars
------------------------------------------------------ */
 .goldenforms-pro .uit-progress{ display:none; }
 .goldenforms-pro .uit-progressbar {
    position: relative;
    background:#E1E4E9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .uit-progressbar .percent {
    position:absolute;
    display:inline-block;
    top:-3px;
    right:-24px;
    font-size:9px;
    color:#93A2AA;
}

 .goldenforms-pro .uit-progressbar > .bar {
    width:60%;
    height:6px;
    display: block;
    background-size: 16px 16px;
    background-color: #aaa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* @progress bar strips + animation IE10+
----------------------------------------------------------- */
 .goldenforms-pro .uit-progressbar > .bar {
    background-size: 16px 16px;
    background-image: -webkit-linear-gradient(top left,
    transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
    transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));

    background-image: -moz-linear-gradient(top left,
    transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
    transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));

    background-image: -o-linear-gradient(top left,
    transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
    transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));

    background-image: linear-gradient(to bottom right,
    transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
    transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
}
 .goldenforms-pro .progress-animated > .bar{
    -webkit-animation: gfprogress .6s linear infinite;
    -moz-animation: gfprogress .6s linear infinite;
    -o-animation: gfprogress .6s linear infinite;
    animation: gfprogress .6s linear infinite;
}


@-webkit-keyframes gfprogress {
    from { background-position: 0 0; }
    to { background-position: -16px 0; }
}


@-moz-keyframes gfprogress {
    from { background-position: 0 0; }
    to { background-position: -16px 0; }
}

@-o-keyframes gfprogress {
    from { background-position: 0 0; }
    to { background-position: -16px 0; }
}

@keyframes gfprogress {
    from { background-position: 0 0; }
    to { background-position: -16px 0; }
}

 .goldenforms-pro .bar-blue > .bar 		{ background-color: #208ed3; }
 .goldenforms-pro .bar-black > .bar    	{ background-color: #333; }
 .goldenforms-pro .bar-green > .bar    	{ background-color: #7fbf4d; }
 .goldenforms-pro .bar-red > .bar      	{ background-color: #cf3025; }


/* @tooltips on inputs | selects | textareas
------------------------------------------------- */
 .goldenforms-pro .uit-tooltip {
    position: absolute;
    z-index: -1;
    opacity: 0;
    color: #fff;
    width: 184px;
    left: -9999px;
    top:auto;
    font-size: 11px;
    font-weight:normal;
    background: #0B0B0B;
    text-shadow: 0 1px rgba(255, 255, 255, 0);
    -webkit-transition: margin 0.6s, opacity 0.6s;
    -moz-transition: margin 0.6s, opacity 0.6s;
    -ms-transition: margin 0.6s, opacity 0.6s;
    -o-transition: margin 0.6s, opacity 0.6s;
    transition: margin 0.6s, opacity 0.6s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

 .goldenforms-pro .uit-tooltip > em{ padding:12px; font-style:normal; display:block; position:static; }
 .goldenforms-pro .uit-tooltip:after { content: ''; position: absolute; }
 .goldenforms-pro .uit-input:focus + .uit-tooltip,
 .goldenforms-pro .uit-textarea:focus + .uit-tooltip,
 .goldenforms-pro .uit-select > select:focus ~ .uit-tooltip{ opacity: 1; z-index: 999; }

/* @tooltip left
------------------------------------------------- */
 .goldenforms-pro .tip-left { top:1px; margin-right:-20px; }
 .goldenforms-pro .tip-left:after {
    top:12px;
    left: 100%;
    border-left: 8px solid #0B0B0B;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-left,
 .goldenforms-pro .uit-textarea:focus + .tip-left,
 .goldenforms-pro .uit-select > select:focus ~ .tip-left {
    margin-right:10px;
    right: 100%;
    left: auto;
}

/* @tooltip right
------------------------------------------------- */
 .goldenforms-pro .tip-right { top:1px; margin-left:-20px; }
 .goldenforms-pro .tip-right:after {
    top:12px;
    right: 100%;
    border-right: 8px solid #0B0B0B;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-right,
 .goldenforms-pro .uit-textarea:focus + .tip-right,
 .goldenforms-pro .uit-select > select:focus ~ .tip-right { left: 100%; margin-left:10px; }

/* @tooltip right-top
------------------------------------------------- */
 .goldenforms-pro .tip-right-top { bottom: 100%; margin-bottom: -20px; }
 .goldenforms-pro .tip-right-top:after {
    top: 100%;
    right: 12px;
    border-top: 8px solid #0B0B0B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-right-top,
 .goldenforms-pro .uit-textarea:focus + .tip-right-top,
 .goldenforms-pro .uit-select > select:focus ~ .tip-right-top  {
    right: 0;
    left: auto;
    margin-bottom: 10px;
}

/* @tooltip left-top
------------------------------------------------- */
 .goldenforms-pro .tip-left-top { bottom: 100%; margin-bottom: -20px; }
 .goldenforms-pro .tip-left-top:after {
    top: 100%;
    left: 12px;
    border-top: 8px solid #0B0B0B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-left-top,
 .goldenforms-pro .uit-textarea:focus + .tip-left-top,
 .goldenforms-pro .uit-select > select:focus ~ .tip-left-top {
    left: 0;
    right: auto;
    margin-bottom: 10px;
}

/* @tooltip right-bottom
------------------------------------------------- */
 .goldenforms-pro .tip-right-bottom { top: 100%; margin-top: -20px; }
 .goldenforms-pro .tip-right-bottom:after {
    right: 12px;
    bottom: 100%;
    border-bottom: 8px solid #0B0B0B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-right-bottom,
 .goldenforms-pro .uit-textarea:focus + .tip-right-bottom,
 .goldenforms-pro .uit-select > select:focus ~ .tip-right-bottom {
    margin-top: 10px;
    left: auto;
    right: 0;
}

/* @tooltip left-bottom
------------------------------------------------- */
 .goldenforms-pro .tip-left-bottom { top: 100%; margin-top: -20px; }
 .goldenforms-pro .tip-left-bottom:after {
    left: 12px;
    bottom: 100%;
    border-bottom: 8px solid #0B0B0B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

 .goldenforms-pro .uit-input:focus + .tip-left-bottom,
 .goldenforms-pro .uit-textarea:focus + .tip-left-bottom,
 .goldenforms-pro .uit-select > select:focus ~ .tip-left-bottom {
    margin-top:10px;
    right: auto;
    left: 0;
}


/* error tooltips
---------------------------------*/
 .goldenforms-pro .state-error .uit-tooltip { background:#E46B66; }
 .goldenforms-pro .state-error .tip-left:after { border-left: 8px solid #E46B66; }
 .goldenforms-pro .state-error .tip-right:after { border-right: 8px solid #E46B66; }
 .goldenforms-pro .state-error .tip-left-top:after,
 .goldenforms-pro .state-error .tip-right-top:after { border-top: 8px solid #E46B66; }
 .goldenforms-pro .state-error .tip-left-bottom:after,
 .goldenforms-pro .state-error .tip-right-bottom:after { border-bottom: 8px solid #E46B66; }


/* @validaion - error state
------------------------------------- */
 .goldenforms-pro .state-error .uit-input,
 .goldenforms-pro .state-error .uit-textarea,
 .goldenforms-pro .state-error .radio-option,
 .goldenforms-pro .state-error .checkbox-option,
 .goldenforms-pro .state-error input:focus + .radio-option,
 .goldenforms-pro .state-error input:hover + .radio-option,
 .goldenforms-pro .state-error input:hover + .checkbox-option,
 .goldenforms-pro .state-error input:focus + .checkbox-option,
 .goldenforms-pro .uit-select-multiple.state-error > select{
    background:#FEEFE9;
    border-color:#E46B66;
}

 .goldenforms-pro .state-error .uit-input ~ .field-icon i,
 .goldenforms-pro .state-error .uit-textarea ~ .field-icon i{  color: #e74c3c; }
 .goldenforms-pro .state-error.uit-select { border: 1px solid #E46B66; }
 .goldenforms-pro .state-error.uit-select:before,
 .goldenforms-pro .state-error.uit-select:after {
    border: 4px dashed;
    border-color: #E46B66 transparent;
}

 .goldenforms-pro .state-error .uit-input ~ .text-hint,
 .goldenforms-pro .state-error .uit-textarea ~ .text-hint { border-color:#E46B66; }
 .goldenforms-pro .state-error + em{
    display: block!important;
    margin-top: 6px;
    padding: 0 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: normal;
    color:#CC0000;
    font-size:12px;

}

 .goldenforms-pro .state-error .uit-input:focus,
 .goldenforms-pro .state-error .uit-textarea:focus,
 .goldenforms-pro .state-error .uit-textarea:focus ~ .text-hint,
 .goldenforms-pro .state-error.uit-file .file-field:focus ~ .uit-input,
 .goldenforms-pro .uit-select-multiple.state-error > select:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(228,70,52,0,.7);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(228,70,52,0,.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(228,70,52,.7);
}

 .goldenforms-pro .state-error.uit-file .file-field:focus ~ .uit-input{ border-color:#E46B66; }
 .goldenforms-pro .state-error.uit-file .uit-button,
 .goldenforms-pro .state-error.uit-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .state-error.uit-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .state-error.uit-file .file-field:focus ~ .uit-button:active{ border-left:1px solid #E46B66; }


/* @validaion - success state
-------------------------------------------------- */
 .goldenforms-pro .state-success .uit-input,
 .goldenforms-pro .state-success .uit-textarea,
 .goldenforms-pro .uit-select-multiple.state-success > select{ background:#EAFCD8; border-color:#2ecc71; }
 .goldenforms-pro .state-success .uit-input ~ .field-icon i,
 .goldenforms-pro .state-success .uit-textarea ~ .field-icon i{  color: #2ecc71; }
 .goldenforms-pro .state-success.uit-select .arrow { color: #2ecc71; }
 .goldenforms-pro .state-success.uit-select:before {  border-left:1px solid #2ecc71; }
 .goldenforms-pro .state-success.uit-select { border: 1px solid #2ecc71; }
 .goldenforms-pro .state-success.uit-select:before,
 .goldenforms-pro .state-success.uit-select:after { border: 4px dashed; border-color: #2ecc71 transparent; }
 .goldenforms-pro .state-error.uit-select:before,
 .goldenforms-pro .state-success.uit-select:before {  border-bottom-style: solid; border-top: none; }
 .goldenforms-pro .state-error.uit-select:after,
 .goldenforms-pro .state-success.uit-select:after {
    margin-top: 6px;
    border-top-style: solid;
    border-bottom: none;
}

 .goldenforms-pro .state-success .uit-input ~ .text-hint,
 .goldenforms-pro .state-success .uit-textarea ~ .text-hint,
 .goldenforms-pro .state-success.uit-file .file-field:focus ~ .uit-input { border-color:#2ecc71; }
 .goldenforms-pro .state-success.uit-file .file-field:focus ~ .uit-input{ border-color:#2ecc71; }
 .goldenforms-pro .state-success.uit-file .uit-button,
 .goldenforms-pro .state-success.uit-file .file-field:hover ~ .uit-button,
 .goldenforms-pro .state-success.uit-file .file-field:focus ~ .uit-button,
 .goldenforms-pro .state-success.uit-file .file-field:focus ~ .uit-button:active{ border-left:1px solid #2ecc71; }
 .goldenforms-pro .state-success .uit-input:focus,
 .goldenforms-pro .state-success .uit-textarea:focus,
 .goldenforms-pro .state-success .uit-textarea:focus ~ .text-hint,
 .goldenforms-pro .uit-select-multiple.state-success > select:focus,
 .goldenforms-pro .state-success.uit-file .file-field:focus ~ .uit-input{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(121,185,0,.7);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(121,185,0,.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 8px rgba(121,185,0,.7);
}


/* @disabled state
----------------------------------------------- */
 .goldenforms-pro .uit-button[disabled],
 .goldenforms-pro .state-disabled .uit-button,
 .goldenforms-pro input[disabled] + .radio-option,
 .goldenforms-pro input[disabled] + .checkbox-option,
 .goldenforms-pro .uit-switch > input[disabled] + label{
    cursor: default;
    opacity:0.5;
}

 .goldenforms-pro .uit-input[disabled],
 .goldenforms-pro .uit-textarea[disabled],
 .goldenforms-pro .uit-select.disabled,
 .goldenforms-pro .uit-select.disabled > select[disabled],
 .goldenforms-pro .uit-select-multiple select[disabled],
 .goldenforms-pro .uit-input[disabled] ~ .uit-input-hint,
 .goldenforms-pro .uit-file .file-field[disabled] + .uit-input,
 .goldenforms-pro .uit-file .file-field[disabled] ~ .uit-button,
 .goldenforms-pro .uit-textarea[disabled] ~ .uit-input-hint {
    cursor: default;
    opacity:0.5;
}

 .goldenforms-pro input[disabled] ~ .field-icon i,
 .goldenforms-pro textarea[disabled] ~ .field-icon i{
    opacity:0.4;
}

/* Firefox 30+ hide select arrow
-------------------------------------------------- */
@-moz-document url-prefix() {
     .goldenforms-pro .uit-select .select-arrow {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 100%;
        -webkit-border-radius: 0 1px 1px 0;
        -moz-border-radius: 0 1px 1px 0;
        border-radius: 0 1px 1px 0;
        background:inherit;
        border:transparent;
        pointer-events:none;
        z-index:16;
    }
}

/* @margin spacers :: modify accordingly
-------------------------------------------- */
 .goldenforms-pro .spacer-t10{ margin-top:10px; }
 .goldenforms-pro .spacer-b10{ margin-bottom:10px; }
 .goldenforms-pro .spacer-t15{ margin-top:15p; }
 .goldenforms-pro .spacer-b15{ margin-bottom:15px; }
 .goldenforms-pro .spacer-t20{ margin-top:20px; }
 .goldenforms-pro .spacer-b20{ margin-bottom:20px; }
 .goldenforms-pro .spacer-t25{ margin-top:25px; }
 .goldenforms-pro .spacer-b25{ margin-bottom:25px; }
 .goldenforms-pro .spacer-t30{ margin-top:30px; }
 .goldenforms-pro .spacer-b30{ margin-bottom:30px; }
 .goldenforms-pro .spacer-t40{ margin-top:40px; }
 .goldenforms-pro .spacer-b40{ margin-bottom:40px; }
 .goldenforms-pro .gblock{
    display:block;
    margin-bottom:5px;
    width:100%;
}


/* @general grid | rows + columns
---------------------------------------------- */
 .goldenforms-pro .frm-row{ margin:0 -10px;  }
 .goldenforms-pro .slider-group:before,
 .goldenforms-pro .slider-group:after,
 .goldenforms-pro .frm-row:before,
 .goldenforms-pro .frm-row:after { display: table; content: ""; line-height: 0; }
 .goldenforms-pro .slider-group:after,
 .goldenforms-pro .frm-row:after{ clear: both; }

/* @form columns
----------------------------------- */
 .goldenforms-pro .frm-row .colm{
    min-height:1px;
    padding-left:10px;
    padding-right:10px;
    position:relative;
    float:left;
}

 .goldenforms-pro .frm-row .colm1{width:8.33%;}
 .goldenforms-pro .frm-row .colm2{width:16.66%;}
 .goldenforms-pro .frm-row .colm3{width:25%;}
 .goldenforms-pro .frm-row .colm4{width:33.33%;}
 .goldenforms-pro .frm-row .colm5{width:41.66%;}
 .goldenforms-pro .frm-row .colm6{width:50%;}
 .goldenforms-pro .frm-row .colm7{width:58.33%;}
 .goldenforms-pro .frm-row .colm8{width:66.66%;}
 .goldenforms-pro .frm-row .colm9{width:75%;}
 .goldenforms-pro .frm-row .colm10{width:83.33%;}
 .goldenforms-pro .frm-row .colm11{width:91.66%;}
 .goldenforms-pro .frm-row .colm12{width:100%; }
 .goldenforms-pro .frm-row .colm1-5{width:20%;}
 .goldenforms-pro .frm-row .colm1-8{width:12.5%;}

/* @tables basic
------------------------------------------- */
 .goldenforms-pro .frmtable {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
    box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
 .goldenforms-pro .frmtable th,
 .goldenforms-pro .frmtable td{
    border: 1px solid #e0e0e0;
    padding: 6px 10px;
    text-align:left;
}

 .goldenforms-pro .frmtable th {
    font-weight: bold;
    color: white;
    background: #2c92ed;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #1d87e2 #187ed9 #1670c1;
    background-image: -webkit-linear-gradient(top,  #49a4fc, #208be7);
    background-image: -moz-linear-gradient(top,  #49a4fc, #208be7);
    background-image: -o-linear-gradient(top,  #49a4fc, #208be7);
    background-image: linear-gradient(to bottom,  #49a4fc, #208be7);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.06), 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.06), 0 1px rgba(0, 0, 0, 0.04);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    position:relative;
}

 .goldenforms-pro .frmtable th:first-child {
    border-left-width: 1px;
    border-top-left-radius: 3px;
}
 .goldenforms-pro .frmtable th:last-child { border-top-right-radius: 3px; }
 .goldenforms-pro .frmtable td {
    border-right-width:0;
    border-top:0;
}

 .goldenforms-pro .frmtable td:last-child { border-right-width: 1px; }
 .goldenforms-pro .frmtable tr:nth-child(even) {background: #f9f9f9;}
 .goldenforms-pro .frmtable tr:nth-child(odd) {background: #fff; }
 .goldenforms-pro .frmtable .tfoot > tr >td {
    color: #777;
    position: relative;
    background: #f4f4f4;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dbdbdb #d2d2d2 #ccc;
    background-image: -webkit-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -moz-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: -o-linear-gradient(top,  #fbfbfb, #ededed);
    background-image: linear-gradient(to bottom,  #fbfbfb, #ededed);
    -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

 .goldenforms-pro .frmtable .tfoot > tr > td:first-child {
    border-left-width: 1px;
    border-bottom-left-radius: 3px;
}
 .goldenforms-pro .frmtable .tfoot > tr > td:last-child { border-bottom-right-radius: 3px; }
 .goldenforms-pro .frmtable td .rcode{ font-size:11px; font-weight:bold; color:#CC3333; }

/* @captcha + reload button
-------------------------------------------------- */
 .goldenforms-pro .captcode{ position:relative; }
 .goldenforms-pro .captcode,
 .goldenforms-pro .captcode:hover,
 .goldenforms-pro .captcode:focus,
 .goldenforms-pro .captcode:active{
    padding:0;
    text-shadow:none!important;
    background:#EFEFEF!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
 .goldenforms-pro .captcode img{ position:relative; top:3px; }
 .goldenforms-pro .refresh-captcha{  position:absolute; right:7px; top:2px; }
 .goldenforms-pro .refresh-captcha i{ font-size:17px; color: #777; }
 .goldenforms-pro .alert{ padding:15px; line-height:normal; }
 .goldenforms-pro .notification strong{ font-size:13px; font-weight:bold; display:block; }
 .goldenforms-pro .notification ul{ list-style-type: disc; list-style-position: inside; }
 .goldenforms-pro .notification ul li{
    margin:0;
    padding:0;
    margin-bottom:3px;
    line-height:normal;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     .goldenforms-pro .uit-rating{ -webkit-animation: bugfix infinite 1s; }
    @-webkit-keyframes bugfix {
        from { padding: 0;  }
        to { padding: 0; }
    }
}

/* @responsiveness on tablets + mobile
-------------------------------------------------- */
@media (max-width: 600px) {
     .goldenforms-pro .frm-row{ margin:0;  }
     .goldenforms-pro .frm-row .colm{  width: 100%; float:none; padding:0; }
}
