<div data-th-fragment="form-body">
    <div class="frm-body">
        <div data-th-if="${#sets.isEmpty(formInputs)}" data-th-remove="tag">
            <div data-th-replace="/admin/widgets/contenthive/inputtype-folder.html :: folder"/>
        </div>
        <div class="spacer-b30">
            <div class="tagline"><span>Config</span></div>
        </div>

        <input class="uit-input" id="id" name="id" type="hidden" data-th-value="${id}"/>
        <div class="frm-section colm colm6">
            <label class="field" for="number">
                Number of contents:
                <span data-th-if="${#sets.isEmpty(formInputs)}" data-th-text="'Minimum 3'"/>
                <input class="uit-input" id="number" name="number" type="number" value="3"/>
            </label>
            <label class="field" for="number">
                Create content below:
                <input class="uit-input" id="parentPath" name="parentPath" type="text"
                       data-th-value="${parentPath}"/>
            </label>
        </div>

        <div data-th-each="formInput : ${formInputs}" data-th-remove="tag">
            <div data-th-replace="/admin/widgets/contenthive/inputtype-custom.html :: view(${formInput}, ${content.data[formInput.getPath()]}, ${customConfig[formInput.getName()]})"/>
        </div>
    </div>
    <div class="frm-footer">
        <button type="submit" class="uit-button btn-blue"> Create</button>
    </div>
</div>