<widget>
    <div data-th-id="openxp_app_contenthive" data-appnamespace="openxp_app_contenthive" class="goldenforms-pro">
        <link rel="stylesheet"
              data-th-href="${portal.assetUrl({'_path=css/contenthive.css'})}"
              type="text/css" media="all"/>

        <div data-th-if="${message}" data-th-text="${message}"/>

        <form data-th-if="${serviceUrl}" id="xpContentHiveWidgetForm" method="get" data-th-action="${serviceUrl}">
            <div class="frm-header">
                <img id="contenthiveLogo" data-th-src="${portal.assetUrl({'_path=img/honeycombs.png'})}"/>
                <h5>ContentHive</h5>
            </div>
            <div class="frm-section colm colm6">
                <label class="field">
                        <span class="text-hint">
                            Create dummy content
                            <span data-th-if="${#sets.isEmpty(formInputs)}">inside</span>
                            <span data-th-if="${not #sets.isEmpty(formInputs)}">of</span>
                            <strong data-th-text="${type}"/>
                        </span>
                </label>
            </div>
            <div data-th-if="${#strings.startsWith(type, 'media:')} ">
                <div class="frm-body">
                    <div class="frm-section colm colm12">
                        <p>
                            Select a folder to create media content with Pixabay Image API
                        </p>
                    </div>
                </div>
            </div>
            <div data-th-if="${not #strings.startsWith(type, 'media:')}"
                 data-th-remove="tag">
                    <div data-th-replace="/admin/widgets/contenthive/contenthive-form-body-fragment.html :: form-body"/>
            </div>
        </form>
    </div>
</widget>

<script type="text/javascript" data-th-inline="javascript"
        data-th-src="${portal.assetUrl({'_path=js/serialize.js'})}"></script>
<script data-appnamespacescript="openxp_app_contenthive" type="text/javascript" data-th-inline="javascript"
        data-th-src="${portal.assetUrl({'_path=js/contenthive.js'})}"></script>
