<div data-th-fragment="view (formInput, content, customConfig)">
    <div class="spacer-t40 spacer-b30">

        <div class="spacer-t20 spacer-b20">
            <div class="tagline"><span><strong data-th-text="${formInput.getPath()}"/></span></div>
        </div>

        <div data-th-if="${(formInput.getType()!='contentselector'
            and formInput.getType()!='combobox'
            and formInput.getType()!='radiobutton')
            or customConfig}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'custom','include','Include', ${preSelectInclude}, 'false')"/>

        <div data-th-if="${formInput.getType()=='contentselector'}"
              data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: ContentSelector(${formInput},${customConfig})"/>

        <div data-th-if="${formInput.getType()=='imageselector'}"
              data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: ContentSelector(${formInput},${customConfig})"/>

         <div data-th-if="${formInput.getType()=='textline'}"
               data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: TextLine(${formInput})"/>

        <div data-th-if="${formInput.getType()=='radiobutton'}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: RadioButtonInputType(${formInput})"/>

        <div data-th-if="${formInput.getType()=='checkbox'}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBoxInputType(${formInput})"/>

        <div data-th-if="${formInput.getType()=='combobox'}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: ComboBox(${formInput})"/>

        <div data-th-if="${formInput.getType()=='geopoint'}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: GeoPoint(${formInput})"/>

        <div data-th-if="${formInput.getType()=='tag'}"
              data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: Tag(${formInput})"/>

        <div data-th-if="${formInput.getType()=='textarea'}"
              data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: TextArea(${formInput})"/>

         <div data-th-if="${formInput.getType()=='htmlarea'}"
               data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: HtmlArea(${formInput})"/>
    </div>
</div>

<div data-th-fragment="TextLine (formInput)">
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','allcase','Add Uppercase', 'false', 'false')"/>
</div>

<div data-th-fragment="RadioButtonInputType (formInput)">
    <div class="text-hint spacer-t20 spacer-b20">
        <strong>Support for input type RadioButton is coming soon.</strong>
    </div>
</div>

<div data-th-fragment="CheckBoxInputType (formInput)">
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: Radio(${formInput}, 'custom','checkedstate', 'random','Random', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: Radio(${formInput}, 'custom','checkedstate', 'true', 'Only true', 'false', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: Radio(${formInput}, 'custom','checkedstate', 'false', 'Only false', 'false', 'false')"/>
</div>

<div data-th-fragment="GeoPoint (formInput)">
    <div class="text-hint spacer-t20 spacer-b20">
        <strong>Enter latitude, longitude and radius for random GeoPoint calculation.
            <span data-th-if="${formInput.getValue()}" data-th-text="|Current value is ${formInput.getValue()}|"></span>
        </strong>
    </div>
    <div data-th-if="${formInput.getValue()}" data-th-remove="tag">
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','lat','Latitude (-90->90)', ${#strings.arraySplit(formInput.getValue(),',')[0]},'-90','90')"/>
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','long','Longitude (-180->180)', ${#strings.arraySplit(formInput.getValue(),',')[1]},'-180','180')"/>
    </div>
    <div data-th-if="${not formInput.getValue()}" data-th-remove="tag">
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','lat','Latitude (-90->90)', '59.9090441','-90','90')"/>
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','long','Longitude (-180->180)', '10.7379615','-180','180')"/>
    </div>

    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','radius','Radius (meters)', '1000','1','10000000')"/>
</div>

<div data-th-fragment="ComboBox (formInput)">
    <div class="text-hint spacer-t20 spacer-b20">
        <strong>Support for input type ComboBox is not implemented, yet!</strong>
    </div>
</div>


<div data-th-fragment="TextArea (formInput)">
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: SelectInput(${formInput}, 'custom','paragraphs','Average paragraph length', 'paragraphsoptions')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','max','Max no. of paragraphs', '2','1','0')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'custom','plaintext','Only plaintext', 'true', 'true')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','allcase','Add Uppercase', 'false', 'false')"/>
</div>


<div data-th-fragment="Tag (formInput)">
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','max','Max tags', '2','0','0')"/>
</div>

<div data-th-fragment="HtmlArea (formInput)">
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: SelectInput(${formInput}, 'custom','paragraphs','Average paragraph length', 'paragraphsoptions')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','max','Max no. of paragraphs', '2','0','0')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','headers','Add headers', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','decorate','Add bold, italic and marked', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','link','Add links', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','ul','Add unordered lists', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','ol','Add numbered lists', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','dl','Add description lists', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','bq','Add blockquotes', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','code','Add code samples', 'true', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','plaintext','Add plain text (no HTML)', 'false', 'false')"/>
    <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'random','allcase','Add Uppercase', 'false', 'false')"/>
</div>

<div data-th-fragment="ContentSelector (formInput, customConfig)">
    <div data-th-if="${not customConfig}">
        <div class="text-hint spacer-t20 spacer-b20">
            <strong>TIP:</strong> If you want to include relatedcontent of this type in generated content, select a value for it in the currently
            selected content.
        </div>
    </div>
    <div class="spacer-t20 spacer-b20" data-th-if="${customConfig}">
        <div class="text-hint spacer-t20 spacer-b20">
            <strong>TIP:</strong> You may re-use '<strong data-th-text="${customConfig.name}"/>' for all content, or select
            a random content from <strong data-th-text="${customConfig.parentPath}"/> or somewhere else. This relatedcontent
            have min-occurrence = <strong data-th-text="${customConfig.min}"/> and
            <span data-th-switch="${customConfig.max}">
                <span data-th-case="0"> no max-occurrence (unlimited)</span>
                <span data-th-case="*"> max-occurrence = <strong data-th-text="${customConfig.max}"/></span>
            </span>
        </div>
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: CheckBox(${formInput}, 'custom','useonly','Use only: ' + ${customConfig.name}, 'false', 'false')"/>
        <div data-th-if="${customConfig.parentPath}"
             data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: TextInput(${formInput}, 'custom', 'path', '..OR use random content from folder:', ${customConfig.parentPath})"></div>
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','min','Min. relatedContent', ${customConfig.min}, ${customConfig.min},${customConfig.max})"/>
        <span data-th-include="/admin/widgets/contenthive/inputtype-custom.html :: NumberInput(${formInput}, 'custom','max','Max relatedContent', ${customConfig.min+1}, ${customConfig.min},${customConfig.max})"/>
    </div>
</div>

<div data-th-fragment="SelectInput (formInput, prefix, property, label, options)">
    <label data-th-for="|${prefix}-${formInput.getName()}-${property}|" class="field-label">
        <div data-th-text="${label}" data-th-remove="tag"/>
    </label>
    <label class="field uit-select">
        <select data-th-id="|${prefix}-${formInput.getPath()}-${property}|"
                data-th-name="|${prefix}-${formInput.getPath()}-${property}|">
            <span data-th-replace="/admin/widgets/contenthive/inputtype-custom.html :: ${options}"/>
        </select>
        <i class="select-arrow"></i>
    </label>
</div>

<div data-th-fragment="paragraphsoptions">
    <option value="short">Short</option>
    <option value="medium">Medium</option>
    <option value="long">Long</option>
    <option value="verylong">Very long</option>
</div>

<div data-th-fragment="NumberInput (formInput, prefix, property, label, value, min, max)">
    <label class="field" data-th-for="|custom-${formInput.getName()}-max|">
        <div data-th-text="${label}" data-th-remove="tag"/>
        <input class="uit-input" data-th-id="|${prefix}-${formInput.getPath()}-${property}|"
               data-th-name="|${prefix}-${formInput.getPath()}-${property}|" data-th-value="${value}"
               data-th-min="${min}" data-th-max="${max != 0} ? ${max} : 999" step="any" type="number"/>
    </label>
</div>

<div data-th-fragment="TextInput (formInput, prefix, property, label, value)">
    <label class="field" data-th-for="|${prefix}-${formInput.getName()}-${property}|">
        <div data-th-text="${label}" data-th-remove="tag"/>
        <input class="uit-input" data-th-id="|${prefix}-${formInput.getPath()}-${property}|"
               data-th-name="|${prefix}-${formInput.getPath()}-${property}|" data-th-value="${value}" type="text"/>
    </label>
</div>

<div data-th-fragment="CheckBox (formInput, prefix, property, label, checked, disabled)">
    <label class="uit-option gblock">
        <input data-th-disabled="${disabled}" type="checkbox" data-th-checked="${checked}"
               data-th-name="|${prefix}-${formInput.getPath()}-${property}|"/>
        <span class="checkbox-option"></span>
        <div data-th-text="${label}" data-th-remove="tag"/>
    </label>
</div>

<div data-th-fragment="Radio (formInput, prefix, property, value, label, checked, disabled)">
    <label class="options">
        <input data-th-disabled="${disabled}" type="radio" data-th-checked="${checked}"
               data-th-id="|${prefix}-${formInput.getPath()}-${property}|"
               data-th-name="|${prefix}-${formInput.getPath()}-${property}|"
               data-th-value="${value}"/>
        <span class="radio"></span>
        <label data-th-for="|${prefix}-${formInput.getPath()}-${property}|" data-th-text="${label}"/>
    </label>
</div>