<div class="spacer-t40 spacer-b40" data-th-fragment="folder">
    <input data-th-name="pixelapi" data-th-value="true" type="hidden"/>

    <div class="frm-row">
        <div class="frm-section colm colm12">
            <a target="_blank" href="https://pixabay.com/">
                <img id="pixabayLogo" data-th-src="${portal.assetUrl({'_path=img/pixabay-logo.png'})}"/>
            </a>
        </div>
    </div>
    <div class="frm-row">
        <div class="frm-section colm colm12">
            <p>Free (<a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons
                CC0</a>) High Quality
                Images from Pixabay.</p>
        </div>
    </div>

    <div data-th-if="${apiKey == null or apiKey==''}" class="frm-row api-info">
        <div class="spacer-b20">
            <div class="tagline"><span>API key</span></div>
        </div>
        <div class="frm-section colm colm12">
            <h5>You need a (free) API key to use Pixabay Image API</h5>
            <ul>
                <li><a target="_blank" href="https://pixabay.com/en/accounts/register">Register</a> for a free account
                </li>
                <li>Find your API key in <a target="_blank" href="http://pixabay.com/api/docs/">API doc</a> examples
                </li>
                <li>Add the app to the site and set Pixabay API key in app config</li>
            </ul>
        </div>
    </div>

    <div data-th-remove="tag">
        <div class="spacer-b30">
            <div class="tagline"><span>Images</span></div>
        </div>
        <div class="frm-row">
            <div class="frm-section colm colm12">
                <label class="field" data-th-for="pixelapi-q">
                    Query
                    <input class="uit-input" data-th-id="pixelapi-q" data-th-name="pixelapi-q" type="text"/>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="lbl-text" data-th-for="pixelapi-lang">
                    Query language
                </label>
                <label class="lbl-ui uit-select" data-th-for="pixelapi-lang">
                    <select data-th-id="pixelapi-lang" data-th-name="pixelapi-lang">
                        <option value="en">en</option>
                        <option value="no">no</option>
                        <option value="cs">cs</option>
                        <option value="da">da</option>
                        <option value="de">de</option>
                        <option value="es">es</option>
                        <option value="fr">fr</option>
                        <option value="id">id</option>
                        <option value="it">it</option>
                        <option value="hu">hu</option>
                        <option value="nl">nl</option>
                        <option value="pl">pl</option>
                        <option value="pt">pt</option>
                        <option value="ro">ro</option>
                        <option value="sk">sk</option>
                        <option value="fi">fi</option>
                        <option value="sv">sv</option>
                        <option value="tr">tr</option>
                        <option value="vi">vi</option>
                        <option value="th">th</option>
                        <option value="bg">bg</option>
                        <option value="ru">ru</option>
                        <option value="el">el</option>
                        <option value="ja">ja</option>
                        <option value="ko">ko</option>
                        <option value="zh">zh</option>
                    </select>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="lbl-text" data-th-for="pixelapi-image_type">
                    Image type
                </label>
                <label class="lbl-ui uit-select" data-th-for="pixelapi-image_type">
                    <select data-th-id="pixelapi-image_type" data-th-name="pixelapi-image_type">
                        <option value="all">All</option>
                        <option value="photo">Photo</option>
                        <option value="illustration">Illustration</option>
                        <option value="vector">Vector</option>
                    </select>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="field" data-th-for="image_type">
                    Orientation
                </label>
                <label class="lbl-ui uit-select" data-th-for="pixelapi-orientation">
                    <select data-th-id="pixelapi-orientation" data-th-name="pixelapi-orientation">
                        <option value="all">All</option>
                        <option value="horizontal">Horizontal</option>
                        <option value="vertical">Vertical</option>
                    </select>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="field" data-th-for="pixelapi-category">
                    Category
                </label>
                <label class="lbl-ui uit-select-multiple" data-th-for="pixelapi-category">
                    <select multiple="multiple" size="6" data-th-id="pixelapi-category"
                            data-th-name="pixelapi-category">
                        <option selected="selected" value="all">All</option>
                        <option value="fashion">fashion</option>
                        <option value="nature">nature</option>
                        <option value="backgrounds">backgrounds</option>
                        <option value="science">science</option>
                        <option value="education">education</option>
                        <option value="people">people</option>
                        <option value="feelings">feelings</option>
                        <option value="religion">religion</option>
                        <option value="health">health</option>
                        <option value="places">places</option>
                        <option value="animals">animals</option>
                        <option value="industry">industry</option>
                        <option value="food">food</option>
                        <option value="computer">computer</option>
                        <option value="sports">sports</option>
                        <option value="transportation">transportation</option>
                        <option value="travel">travel</option>
                        <option value="buildings">buildings</option>
                        <option value="business">business</option>
                        <option value="music">music</option>
                    </select>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="uit-option gblock">
                    <input type="checkbox" checked="checked" data-th-name="pixelapi-safesearch"/>
                    <span class="checkbox-option"></span>
                    <div data-th-text="'Safe search'" data-th-remove="tag"/>
                </label>
            </div>
            <div class="frm-section colm colm12">
                <label class="uit-option gblock">
                    <input type="checkbox" data-th-name="pixelapi-editors_choice"/>
                    <span class="checkbox-option"></span>
                    <div data-th-text="'Editors choice'" data-th-remove="tag"/>
                </label>
            </div>
            <div class="frm-row">
                <div class="frm-section colm colm6">
                    <label class="field" data-th-for="pixelapi-min_width">
                        Min width
                        <input class="uit-input" data-th-id="pixelapi-min_width" data-th-name="pixelapi-min_width"
                               data-th-value="64" type="number"/>
                    </label>
                </div>
                <div class="frm-section colm colm6">
                    <label class="field" data-th-for="pixelapi-min_height">
                        Min height
                        <input class="uit-input" data-th-id="pixelapi-min_height" data-th-name="pixelapi-min_height"
                               data-th-value="64" type="number"/>
                    </label>
                </div>
                <div class="frm-section colm colm12">
                    <div class="text-hint spacer-t20 spacer-b20">
                        <strong>
                            Note: Access to 'high resolution' requires <a target="_blank" href="https://pixabay.com/en/service/contact/?full_api_access">full api access</a>.
                            This enables you to use High Resolution images ('Large' and 'Full HD') below
                        </strong>
                    </div>
                    <label class="field" data-th-for="pixelapi-response_group">
                        Choose 'Image details' for Preview and Web formats.
                        Apply for full api access to use 'High resolution' with 'Large' and 'Full HD'.
                    </label>
                    <label class="lbl-ui uit-select" data-th-for="pixelapi-response_group">
                        <select data-th-id="pixelapi-response_group"
                                data-th-name="pixelapi-response_group">
                            <option selected="selected" value="image_details">Image details</option>
                            <option value="high_resolution">High resolution</option>
                        </select>
                    </label>
                    <label class="lbl-ui uit-select" data-th-for="pixelapi-imageUrl">
                        <select data-th-id="pixelapi-imageUrl"
                                data-th-name="pixelapi-imageUrl">
                            <option value="previewURL">Preview (150px)</option>
                            <option selected="selected" value="webformatURL">Web (640px)</option>
                            <option value="largeImageURL">Large (1280px)</option>
                            <option value="fullHDURL">Full HD (1920px)</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
